[flake8]
# Maximum line length per PEP8 recommendation
max-line-length = 100
# Exclude some directories and files
exclude =
    .git,
    __pycache__,
    build,
    dist,
    migrations
# Specify the files that should be checked
# Only include the files you want to lint
select = E9,F63,F7,F82