django==4.1
django-cors-headers==4.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-standardized-errors==0.14.0
drf-yasg==1.21.7
pillow==10.3
django-environ==0.11
psycopg2==2.9.9
psycopg2-binary==2.9.9
whitenoise==6.6.0
twilio==9.2.0
djangorestframework-camel-case==1.4.2
django-rosetta==0.9.9
django4-background-tasks==1.2.10
pyyaml==6.0.1
itsdangerous==2.2.0
supervisor==4.2.5
