{% extends "base.html" %} {% block title %} Architect_welcome {%endblock%}
{%block header %}
<div class="header">
  <div class="align-items-center align-center">
    <img src="cid:architect_logo.png" alt="" class="align-items-center logo" />
  </div>
</div>
{% endblock %} {% block content %}
<div class="sub-container">
  <img
    src="cid:refuse_architect_request_header.png"
    alt=""
    class="header-img"
  />
  <div class="content align-center align-items-center">
    <h1>Cher(e) {{ first_name }} {{ last_name }}</h1>
    <p>
      Nous vous informons que votre projet a été bloqué suite à un signalement
      de votre client.
    </p>
    <p>
      Vous pouvez envoyer une demande de déblocage si vous estimez que cette
      action est injustifiée.
    </p>
    <p>Cordialement,</p>
    <h2>Team Archimatch</h2>
  </div>
</div>
{% endblock %}
