{% extends "base.html" %} {% block title %} Invitation Fournisseur{% endblock %}
{% block header %}
<div class="header">
  <div class="align-items-center align-center">
    <img src="cid:architect_logo.png" alt="" class="align-items-center logo" />
  </div>
</div>
{% endblock %} {% block content %}
<div class="sub-container">
  <img src="cid:supplier_invitation_header.png" alt="" class="header-img" />
  <div class="content align-center align-items-center">
    <h1>Bonjour</h1>
    <p>Nous espérons que ce message vous trouve en bonne santé.</p>
    <p>
      Nous avons le plaisir de vous inviter à rejoindre notre plateforme en tant
      que fournisseur sur Archimatch.
    </p>
    <p>
      Vos produits/services nous intéressent vivement et nous pensons qu'ils
      bénéficieront à notre communauté.
    </p>

    <p>
      Nous sommes impatients de développer une collaboration fructueuse avec
      vous.
    </p>
    <h2>L'équipe Archimatch</h2>
  </div>
</div>
{% endblock %}
